@import './reset.css';

:root {
  --container-width: 1270px;
  --container-padding: 15px;
  --secondary: rgba(15, 31, 28, 0.5);
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 500;
  background-color: #f6f6f6;
  color: #0f1f1c;
}

.none {
  display: none !important;
}

.container {
  max-width: var(--container-width);
  padding: 0 var(--container-padding);
  margin: 0 auto;
}

.container-right {
  padding-left: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}

.block {
  height: 200px;
  background-color: aquamarine;
  border: 1px solid #000;
}

.header {
  position: relative;
  min-height: 940px;
  padding-top: 44px;
  background: linear-gradient(132.05deg, #428E5F -17.38%, #112120 78.4%), #204434;
  color: #fff;
  overflow: hidden;
}

.header a {
  color: #fff;
}

.header::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 96px;
  background-image: url("../img/header/header-bottom.svg");
  background-size: 100%;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 86px;
}

.header__content {
  position: relative;
  max-width: 592px;
  z-index: 1;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 80px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  column-gap: 80px;
  font-size: 15px;
  font-weight: 500;
}




.nav__link {
  position: relative;
}

.nav__link--active::after,
.nav__link:hover::after {
  content: '';
  position: absolute;
  left: 0;
  right: 10px;
  bottom: -6px;
  display: block;
  height: 4px;
  border-radius: 50px;
  background-color: #c4c4c4;
}

.nav__link--footer:hover::after {
  display: none;
}

.btn-toggle {
  display: none;
}

.logo__text {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}

.logo__text--footer {
  color: #ff7c4e;
}

.logo__link {
  color: inherit;
}

.sign {
  display: flex;
  align-items: center;
  column-gap: 25px;
  font-size: 15px;
  font-weight: 500;
}

.sign--footer {
  column-gap: 60px;
}

/* btn */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 49px;
  background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFFFFF;
  cursor: pointer;
  border-radius: 27px;
  color: #fff;
  border: none;
}

.sign__btn {
  color: inherit;
  cursor: pointer;
  border-radius: 100px;
}

.sign__btn--trnsprnt {
  background: transparent;
  border: none;

}

.header__badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 227px;
  height: 50px;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  margin-bottom: 7px;
}

.header__title {
  font-weight: 400;
  font-size: 55px;
  margin-bottom: 30px;
}

.header__text {
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 68px;
}


.header__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 263px;
  height: 91px;

  font-weight: 600;
  font-size: 25px;
  background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);

}

.header__row {
  display: flex;
}

.header__img {
  position: relative;
  flex-grow: 1;
}

.header__img img {
  position: absolute;
  top: -181px;
  right: -87px;

  max-width: unset;
  width: 894px;
  height: 940px;
  pointer-events: none;

}

.header__img::after {
  content: '';
  position: absolute;
  top: -30px;
  right: -50px;
  width: 830px;
  height: 622px;
  background-image: url('./../img/header/elements.svg');
}

.destinations {
  padding-top: 96px 0 100px;
  overflow-x: hidden;
}

.destinations__row {
  display: flex;
  column-gap: 50px;
}

.destinations__content {
  max-width: 456px;
}

.destinations__slider {
  width: 1110px;
  flex-shrink: 0;
}

.destinations__title {
  margin-bottom: 15px;
  font-size: 55px;
  font-weight: 600;
}

.destinations__title span {
  font-size: 30px;
}

.destinations__text {
  margin-bottom: 60px;
  font-size: 25px;
  font-weight: 500;
  color: var(--secondary)
}

.destinations__btn {
  width: 223px;
  height: 100px;
  font-size: 20px;
  font-weight: 600;
}

.slider {
  position: relative;
  height: 456px;
}

.slider__item {
  margin-top: 20px;
  width: 335px;
  height: 402px;
  object-fit: cover;
  border-radius: 35px;

  transition: 0.2s ease-in;
}

.slider .center .slider__item {
  margin-top: 0;

  width: 380px;
  height: 456px;
}

.slider__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 68px;
  height: 68px;
  border-radius: 50%;

  background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
  border: none;
}

.slider__btn--prev {
  left: -27px;
}

.slider__btn--next {
  right: -27px;
}

/* customer */

.customers {
  padding: 100px 0 133px;
}

.customers__row {
  display: flex;
  column-gap: 68px;
}

.customers__img {
  max-width: 478px;
}

.customers__img img {
  border-radius: 60px;
}



.customers__title {
  margin-bottom: 35px;

  font-size: 45px;
  font-weight: 500;
}

.review {
  max-width: 490px;

}

.review__client {
  display: flex;
  align-items: center;
  column-gap: 33px;
  margin-bottom: 60px;
}

.review__client-avatar {
  width: 134px;
  height: 134px;
  border-radius: 50%;
  background-color: #ff794e;
  overflow: hidden;
}

.review__name {
  margin-bottom: 10px;
  font-size: 33px;
  font-weight: 500;
}

.review__from {
  font-size: 25px;
  color: var(--secondary);
}

.review__text {
  margin-bottom: 30px;
  color: var(--secondary);
  font-size: 22px;
  font-weight: 500;
}


.cta {
  padding: 100px 0;

}

.cta__plate {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 580px;
  padding: 40px 15px;
  background: #fff;
  border-radius: 60px;
}

.cta__plate::before,
.cta__plate::after {
  content: '';
  position: absolute;
  width: 63px;
  height: 83px;
}

.cta__plate::before {
  left: 74px;
  bottom: 56px;
  background-image: url('./../img/cta/cta-el-01.svg');
}

.cta__plate::after {
  top: 74px;
  right: 80px;
  background-image: url('./../img/cta/cta-el-02.svg');
}

.cta__title {
  font-size: 45px;
  font-weight: 50;
  margin-bottom: 30px;
}

.cta__text {
  margin-bottom: 60px;
  font-size: 30px;
  color: var(--secondary);
}

.cta__btn {
  width: 225px;
  height: 80px;
  font-size: 20px;
  font-weight: 600;
}

.subscribe {
  padding-top: 35px;
  padding-bottom: 50px;
}

.subscribe__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

.subscribe__title {
  margin-bottom: 60px;
  max-width: 494px;
  font-size: 55px;
  font-weight: 600;
}

.subscribe-form {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  padding: 12px 15px 12px 46px;
  border-radius: 35px;
  background: #fff;
}

.subscribe-form__input {
  font-size: 24px;
  font-weight: 500;
}

.subscribe-form__input::placeholder {
  color: var(--secondary);
}

.subscrive-form__btn {
  width: 300px;
  height: 105px;
  font-size: 25px;
  font-weight: 600;

}

input::-ms-clear {
  display: none;
}

footer {
  padding: 56px 0 74px;
}

footer a {
  color: var(--secondary);
}


.menu-icon-wrapper {
  /*   background: red; */
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-icon {
  position: relative;
  width: 30px;
  height: 5px;
  background-color: #fff;
}

.menu-icon::before {
  position: absolute;
  left: 0;
  top: -10px;
  content: '';
  width: 30px;
  height: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;

}

.menu-icon::after {
  position: absolute;
  left: 0;
  top: 10px;
  content: '';
  width: 30px;
  height: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;

}

.menu-icon.menu-icon-active {
  background-color: transparent;
}

.menu-icon.menu-icon-active::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menu-icon.menu-icon-active::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}


/* media */



@media (max-width: 1269px) {
  .container-right {
    padding-left: 15px;
  }

}

@media (max-width: 1200px) {
  .destinations__slider {
    width: 900px;
  }
}

@media (max-width: 1000px) {
  .nav__list {
    display: none;
  }

  .sign {
    display: none;
  }

  .btn-toggle {
    display: block;
  }

  .no-scroll {
    overflow-y: hidden;
  }

  .header__top--mobile {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;

    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;

    background-color: rgb(46, 99, 43);
  }

  .header__top--mobile .logo__text {
    font-size: 34px;
  }

  .header__top--mobile .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    font-size: 22px;
  }

  .header__top--mobile .sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    font-size: 22px;
  }

  .header__top--mobile .btn-toggle {
    position: fixed;
    top: 50px;
    right: 15px;
  }

  .header__top--mobile .nav__link--active::after,
  .header__top--mobile .nav__link:hover::after {
    display: none;
  }

  .header__img img {
    right: -256px;
  }

  .header__img::after {
    right: -300px;
  }

  .destinations__slider {
    width: 600px;
  }
  .slider .slider__item {
    margin-top: 18px;
    width: 223px;
    height: 268px;
  }

  .slider .center .slider__item {
    margin-top: 0;
    width: 253px;
    height: 304px;
  }
}

@media (max-width: 850px) {
  .header__row {
    flex-direction: column;
  }

  .header__img img {
    position: static;
    width: 70%;
    height: auto;
  }

  .header__img::after {
    display: none;
  }

  .header__title {
    font-size: 35px;
    margin-bottom: 20px;
  }

  .header__text {
    max-width: 400px;
    font-size: 20px;
    margin-bottom: 40px;
  }

  .header__badge {
    margin-bottom: 5px;
    width: 180px;
    height: 40px;
    font-size: 16px;
    border-radius: 10px;
  }

  .header__btn {
    font-size: 20px;
    border-radius: 18px;
    width: 200px;
    height: 60px;
  }

  .destinations__row {
    flex-direction: column;
    row-gap: 30px;
  }
  .slider {
    height: auto;
  }

  .destinations__slider {
    width: 100%;
  }

  .container-right {
    padding-right: 15px;
  }

  .slider__btn--prev {
    left: -15px;
  }
  .slider__btn--next {
    right: -15px;
  }


}

@media (max-width: 700px) {
  .header {
    padding-top: 20px;
    min-height: unset;
  }
}