html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

ul[class] {
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

:root {
  --container-width: 1270px;
  --container-padding: 15px;
  --secondary: rgba(15, 31, 28, 0.5);
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f6f6f6;
  color: #0f1f1c;
}

.none {
  display: none !important;
}

.container {
  max-width: var(--container-width);
  padding: 0 var(--container-padding);
  margin: 0 auto;
}

.container-right {
  padding-left: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}

.block {
  height: 200px;
  background-color: aquamarine;
}
